.input-field {
  display: flex;
  border: 1px solid var(--login-color);
}
.input-field > input {
  width: 100%;
  border: none;
  border-left: 1px solid var(--login-color);
  padding-left: 5px;
  font-size: 1rem;
}
.pre-icon {
  font-size: 1rem;
  padding: 10px;
}
